.new-books {
    padding: 2rem 0rem;
}
.new-books h2 {
    padding: 1rem 0rem;
    color: rgb(27, 41, 59);
    border-bottom: 1px solid #00cdac;
}

.new-books .view-all {
    text-align: center;

    padding-top: 1rem;
    color: #00cdac;
    border-bottom: 1px solid #00cdac;
    transform: all 0.4s ease;
    cursor: pointer;
}

.view-all:hover {
    color: rgb(23, 163, 152);
}
.all-books-item {
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
}

.book-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    max-height: 530px;
    margin: auto;
    padding: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(194, 201, 198, 0.932);
}
.book-image-box {
    position: relative;
}

.all-books-item img {
    width: 100%;
    max-height: 395px;
}
.book-info-box {
    justify-self: left;
    align-self: flex-start;
    width: 100%;
}

.bookmark-box {
    top: 0%;
    right: 0%;
    position: absolute;
    padding: 3px 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.096);
    color: #00cdac;
    font-size: 2.2rem;
    transform: all 0.3s ease;
}

.mrp {
    opacity: 0.6;
    font-size: 14px;
    letter-spacing: 0px;
    color: rgb(24, 24, 24);
    text-decoration: line-through;
}

.actualPrice {
    align-self: flex-end;
    float: right;
}

.btn-details {
    display: block;
    margin-top: 0.5rem;
    min-width: 100%;
}

/* one page clasees */

.one-book-page {
    justify-content: space-around;
    padding-top: 2rem;
    display: flex;
}
.onebook-bookImage {
    width: 50%;
}
.onebook-bookInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px salmon solid;
    width: 40%;
    padding: 2rem;
    padding-top: 0px;
}
.btnGroup {
    width: 100%;
}

.addtocart {
    float: right;
    min-width: 84%;
}

.bookmarkbtn {
    float: left;
    min-width: 15%;
    font-size: 1.2rem;
    padding: 0.2rem 0.2rem;
}

.onebookimg {
    max-width: 450px;
    max-height: auto;
}

@media only screen and (max-width: 768px) {
    .onebookimg {
        max-width: 300px;
        max-height: auto;
    }
    .onebook-bookImage {
        width: 50%;
    }
    .onebook-bookInfo {
        width: 50%;
        padding: 1rem;
        padding-top: 0px;
    }
}
@media only screen and (max-width: 650px) {
    .one-book-page {
        padding: 1rem;
        flex-direction: column;
    }
    .onebookimg {
        max-width: 100%;
        max-height: auto;
    }
    .onebook-bookImage {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .onebook-bookInfo {
        min-height: 380px;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        padding-top: 0px;
    }
}
